* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
}

.container {
  width: 80%;
  max-width: 60rem;
  margin: 0 auto;
}

.reset-game {
  display: block;
  margin: 2rem auto;
  padding: 1rem 2rem;
  font-size: 1rem;
  background: #474554;
  color: white;
  border: none;
  border-radius: 14px;
  cursor: pointer;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
